In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
hawaii_measurements_to_load = "Resources/hawaii_measurements.csv"
hawaii_stations_to_load = "Resources/hawaii_stations.csv"

# Read the City and Ride Data
measu_data = pd.read_csv(hawaii_measurements_to_load)
stati_data = pd.read_csv(hawaii_stations_to_load)

In [2]:
measu_data

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-06   NaN    73
5      USC00519397  2010-01-07  0.06    70
6      USC00519397  2010-01-08  0.00    64
7      USC00519397  2010-01-09  0.00    68
8      USC00519397  2010-01-10  0.00    73
9      USC00519397  2010-01-11  0.01    64
10     USC00519397  2010-01-12  0.00    61
11     USC00519397  2010-01-14  0.00    66
12     USC00519397  2010-01-15  0.00    65
13     USC00519397  2010-01-16  0.00    68
14     USC00519397  2010-01-17  0.00    64
15     USC00519397  2010-01-18  0.00    72
16     USC00519397  2010-01-19  0.00    66
17     USC00519397  2010-01-20  0.00    66
18     USC00519397  2010-01-21  0.00    69
19     USC00519397  2010-01-22  0.00    67
20     USC00519397  2010-01-23  0.00    67
21     USC00519397  2010-01-24  0.01    71
22     USC00519397  2010-01-25  0.00    67
23     USC00519397  2010-01-26  0.04    76
24     USC00519397  2010-01-27  0.12    68
25     USC00519397  2010-01-28  0.00    72
26     USC00519397  2010-01-30   NaN    70
27     USC00519397  2010-01-31  0.03    67
28     USC00519397  2010-02-01  0.01    66
29     USC00519397  2010-02-03   NaN    67
...            ...         ...   ...   ...
19520  USC00516128  2017-07-24  0.84    77
19521  USC00516128  2017-07-25  0.30    79
19522  USC00516128  2017-07-26  0.30    73
19523  USC00516128  2017-07-27  0.00    75
19524  USC00516128  2017-07-28  0.40    73
19525  USC00516128  2017-07-29  0.30    77
19526  USC00516128  2017-07-30  0.30    79
19527  USC00516128  2017-07-31  0.00    74
19528  USC00516128  2017-08-01   NaN    72
19529  USC00516128  2017-08-02  0.25    80
19530  USC00516128  2017-08-03  0.06    76
19531  USC00516128  2017-08-05   NaN    77
19532  USC00516128  2017-08-06   NaN    79
19533  USC00516128  2017-08-07  0.05    78
19534  USC00516128  2017-08-08  0.34    74
19535  USC00516128  2017-08-09  0.15    71
19536  USC00516128  2017-08-10  0.07    75
19537  USC00516128  2017-08-11   NaN    72
19538  USC00516128  2017-08-12  0.14    74
19539  USC00516128  2017-08-13   NaN    80
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19544  USC00516128  2017-08-18   NaN    76
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [3]:
measu_data.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [4]:
#work with full info to see if their are any Nan values or duplicates and determine what to do with them.
clean_meas= measu_data.dropna().drop_duplicates()
clean_meas

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
5      USC00519397  2010-01-07  0.06    70
6      USC00519397  2010-01-08  0.00    64
7      USC00519397  2010-01-09  0.00    68
8      USC00519397  2010-01-10  0.00    73
9      USC00519397  2010-01-11  0.01    64
10     USC00519397  2010-01-12  0.00    61
11     USC00519397  2010-01-14  0.00    66
12     USC00519397  2010-01-15  0.00    65
13     USC00519397  2010-01-16  0.00    68
14     USC00519397  2010-01-17  0.00    64
15     USC00519397  2010-01-18  0.00    72
16     USC00519397  2010-01-19  0.00    66
17     USC00519397  2010-01-20  0.00    66
18     USC00519397  2010-01-21  0.00    69
19     USC00519397  2010-01-22  0.00    67
20     USC00519397  2010-01-23  0.00    67
21     USC00519397  2010-01-24  0.01    71
22     USC00519397  2010-01-25  0.00    67
23     USC00519397  2010-01-26  0.04    76
24     USC00519397  2010-01-27  0.12    68
25     USC00519397  2010-01-28  0.00    72
27     USC00519397  2010-01-31  0.03    67
28     USC00519397  2010-02-01  0.01    66
30     USC00519397  2010-02-04  0.01    69
31     USC00519397  2010-02-05  0.00    67
32     USC00519397  2010-02-06  0.00    67
...            ...         ...   ...   ...
19513  USC00516128  2017-07-17  0.39    72
19514  USC00516128  2017-07-18  2.40    77
19515  USC00516128  2017-07-19  0.27    74
19516  USC00516128  2017-07-20  0.70    75
19517  USC00516128  2017-07-21  0.10    72
19518  USC00516128  2017-07-22  4.00    72
19519  USC00516128  2017-07-23  0.80    78
19520  USC00516128  2017-07-24  0.84    77
19521  USC00516128  2017-07-25  0.30    79
19522  USC00516128  2017-07-26  0.30    73
19523  USC00516128  2017-07-27  0.00    75
19524  USC00516128  2017-07-28  0.40    73
19525  USC00516128  2017-07-29  0.30    77
19526  USC00516128  2017-07-30  0.30    79
19527  USC00516128  2017-07-31  0.00    74
19529  USC00516128  2017-08-02  0.25    80
19530  USC00516128  2017-08-03  0.06    76
19533  USC00516128  2017-08-07  0.05    78
19534  USC00516128  2017-08-08  0.34    74
19535  USC00516128  2017-08-09  0.15    71
19536  USC00516128  2017-08-10  0.07    75
19538  USC00516128  2017-08-12  0.14    74
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19545  USC00516128  2017-08-19  0.09    71
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [5]:
clean_meas.describe()

               prcp          tobs
count  18103.000000  18103.000000
mean       0.160644     72.994863
std        0.468746      4.512107
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [6]:
measu_data.groupby(['station']).mean()

                 prcp       tobs
station
USC00511918  0.047971  71.615968
USC00513117  0.141921  72.689184
USC00514830  0.121058  74.873297
USC00516128  0.429988  70.915008
USC00517948  0.063602  74.684402
USC00518838  0.207222  72.724070
USC00519281  0.212352  71.663781
USC00519397  0.049020  74.553231
USC00519523  0.114961  74.543649

In [7]:
clean_meas.groupby(['station']).mean()

                 prcp       tobs
station
USC00511918  0.047971  71.527433
USC00513117  0.141921  72.678042
USC00514830  0.121058  74.813113
USC00516128  0.429988  70.865137
USC00517948  0.063602  74.587116
USC00518838  0.207222  72.675439
USC00519281  0.212352  71.663781
USC00519397  0.049020  74.564246
USC00519523  0.114961  74.532659

In [8]:
stati_data

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [9]:
# Save clean data, since no issues were found with station data, stati_data will remain the same.
clean_meas.to_csv('clean_hawaii_measurements.csv')
stati_data.to_csv('clean_hawaii_stations.csv')