In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import Column,String, Integer,Float,Text,Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Create engine using the `hawaii.sqlite` database file
engine = create_engine("sqlite:///hawaii.sqlite", echo=True)

In [3]:
# Declare a Base using `automap_base()`
Base = declarative_base()

In [4]:
# Creates Classes which will serve as the anchor points for our Tables
class Hawaii_measurements(Base):
    __tablename__ = 'clean_hawaii_measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
# Creates Classes which will serve as the anchor points for our Tables
class Hawaii_stations(Base):
    __tablename__ = 'clean_hawaii_stations'
    station_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Integer)
    longitude = Column(Integer)

In [6]:
measurement_df= pd.read_csv("clean_hawaii_measurements.csv")     # reads cleaned csv data from step 1
station_df= pd.read_csv("clean_hawaii_stations.csv")

In [7]:
Base.metadata.create_all(engine)
engine.table_names()

2018-02-01 19:00:38,149 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-02-01 19:00:38,157 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,160 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-02-01 19:00:38,161 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,163 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("clean_hawaii_measurements")
2018-02-01 19:00:38,164 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,167 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("clean_hawaii_stations")
2018-02-01 19:00:38,168 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,170 INFO sqlalchemy.engine.base.Engine
CREATE TABLE clean_hawaii_measurements (
	id INTEGER NOT NULL,
	station VARCHAR(255),
	date VARCHAR(255),
	prcp FLOAT,
	tobs INTEGER,
	PRIMARY KEY (id)
)


2018-02-01 19:00:38,171 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,188 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-01 19:00:38,189 INFO sqlalchemy.engine.base.Engine
CREATE TABLE clean_hawaii_stations (
	station_id INTEGER NOT NULL,
	station VARCHAR(255),
	name VARCHAR(255),
	latitude INTEGER,
	longitude INTEGER,
	PRIMARY KEY (station_id)
)


2018-02-01 19:00:38,190 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:38,201 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-01 19:00:38,217 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-02-01 19:00:38,219 INFO sqlalchemy.engine.base.Engine ()

['clean_hawaii_measurements', 'clean_hawaii_stations']

In [8]:
def populate_table (engine, table, csvfile):
    # connect to the database (engine.connect())
    conn = engine.connect()
    # Load the CSV file into a pandas dataframe
    data_to_load = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options (converting to a dictionary)
    listToWrite = data_to_load.to_dict(orient="records")
    conn.execute(table.delete())
    # Insert the dataframe into the database in one bulk insert (use class table and .insert())
    conn.execute(table.insert(),listToWrite)

In [9]:
populate_table(engine,Hawaii_measurements.__table__,"clean_hawaii_measurements.csv")
populate_table(engine,Hawaii_stations.__table__,"clean_hawaii_stations.csv")

2018-02-01 19:00:40,016 INFO sqlalchemy.engine.base.Engine DELETE FROM clean_hawaii_measurements
2018-02-01 19:00:40,018 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:40,021 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-01 19:00:40,091 INFO sqlalchemy.engine.base.Engine INSERT INTO clean_hawaii_measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-02-01 19:00:40,093 INFO sqlalchemy.engine.base.Engine (('USC00519397', '2010-01-01', 0.08, 65), ('USC00519397', '2010-01-02', 0.0, 63), ('USC00519397', '2010-01-03', 0.0, 74), ('USC00519397', '2010-01-04', 0.0, 76), ('USC00519397', '2010-01-07', 0.06, 70), ('USC00519397', '2010-01-08', 0.0, 64), ('USC00519397', '2010-01-09', 0.0, 68), ('USC00519397', '2010-01-10', 0.0, 73)  ... displaying 10 of 18103 total bound parameter sets ...  ('USC00516128', '2017-08-22', 0.5, 76), ('USC00516128', '2017-08-23', 0.45, 76))
2018-02-01 19:00:40,130 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-01 19:00:40,166 INFO sqlalchemy.engine.base.Engine DELETE FROM clean_hawaii_stations
2018-02-01 19:00:40,167 INFO sqlalchemy.engine.base.Engine ()
2018-02-01 19:00:40,169 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-01 19:00:40,182 INFO sqlalchemy.engine.base.Engine INSERT INTO clean_hawaii_stations (station, name, latitude, longitude) VALUES (?, ?, ?, ?)
2018-02-01 19:00:40,183 INFO sqlalchemy.engine.base.Engine (('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168), ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015), ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374), ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751), ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111), ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139), ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995), ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992), ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025))
2018-02-01 19:00:40,189 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
type(Hawaii_measurements)

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [11]:
# writes data from dataframes to SQLite database
#measurement_df.to_sql('measurement', engine, if_exists = "append", index=False)
#station_df.to_sql('station', engine, if_exists = "append", index=False)